

-#%video.video-js.vjs-default-skin(video-js id="video" width="320" height="180" controls)
<object width="1280" height="720">
<param name="movie" value="http://www.youtube.com/embed/r8HPIH5JCak?html5=1&amp;rel=0&amp;hl=en_US&amp;version=3&amp;controls=0&amp;modestbranding=1"/>
<param name="allowFullScreen" value="true"/>
<param name="allowscriptaccess" value="always"/>
<embed width="1280" height="720" src="http://www.youtube.com/embed/r8HPIH5JCak?html5=1&amp;rel=0&amp;hl=en_US&amp;version=3&amp;controls=0&amp;modestbranding=1&amp;showinfo=0&amp;autoplay=1&vq=hd1080" class="youtube-player" type="text/html" allowscriptaccess="always" allowfullscreen="true"/>
</object>