
%video.video-js.vjs-default-skin(video-js id="video" width="320" height="180" controls)
<object width="640" height="360">
<param name="movie" value="http://www.youtube.com/embed/dQw4w9WgXcQ?html5=1&amp;rel=0&amp;hl=en_US&amp;version=3&amp;controls=0&amp;modestbranding=1"/>
<param name="allowFullScreen" value="true"/>
<param name="allowscriptaccess" value="always"/>
<embed width="640" height="360" src="http://www.youtube.com/embed/dQw4w9WgXcQ?html5=1&amp;rel=0&amp;hl=en_US&amp;version=3&amp;controls=0&amp;modestbranding=1&amp;showinfo=0&amp;autoplay=1" class="youtube-player" type="text/html" allowscriptaccess="always" allowfullscreen="true"/>
</object>